<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
integrity="sha384-
ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
crossorigin="anonymous">
<title>Dashboard</title>
</head>
<body>
{% if polls %}
<div class="d-flex align-items-center justify-content-center" style="height:100vh;">
<ul>
{% for poll in polls %}
    <li><a href="/polls/poll/{{ poll.id }}/details">{{ poll.name }}</a></li>
{% endfor %}
</ul>
</div>
{% else %}
<p>No polls are available.</p>
{% endif %}
</body>
</html>
